<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home page</a></li>
        <li><a href="{{ url_for('about') }}">About page</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
      </ul>
    </nav>
    {% block content %}
    <h1>Home page</h1>
    {% endblock %}
    <!--The curly bracket and percentage are for statements that control the flow of our template.-->
  </body>
</html>
